@use "../abstracts" as *;

.stats {
  background-color: $background-color;
  padding: 40px 0;
  text-align: center;

  &__grid {
    display: flex;
    justify-content: space-around;

    @include mobile {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__number {
    font-size: 32px;
    font-weight: bold;
    color: $primary-color;
  }
}
